.main_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 550px;
  background: #fafafa;
}

.main_Post_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 252.426px;
  margin-top: 20px;
}

.main_styledText {
  color: #303030;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.56px;
}
