.main_Container {
  width: 100%;
  background: #fafafa;
  overflow: hidden;
}

.main_Post_Container {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-top: 16px;
}

.main_styledText {
  color: #303030;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.56px;
}
