.options{
    display: flex;
    justify-content: space-between;
    gap: 8%;
    margin-right: 2%;
}

.Firstcontainer{
    display: flex;
    justify-content: space-between;
    padding: 6%;
    padding-bottom: 2%;
}


// .last{
//     display: flex;
//     margin: 4.5%;
//     gap: 3.5%;
// }


