.totalComment{
    background: #FFF;
box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
padding-bottom: 20%;
}

.comment-container{
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 5%;
    
}

.commentWriter{
    display: flex;
    height: 10px;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 3%;
    color: #686A8A;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.commentContent, .WritercommentContent{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    flex-shrink: 0;
    border-radius: 17px;
    background: #F6F5FF;
    padding: 3%;
}

.WritercommentContent{
    background: #D9E9FF;
}