.onEditContainer {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.content-input {
  padding-left: 5%;
  padding-right: 4%;
  resize: none;
  padding-bottom: 30%;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  color: #686a8a;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.EditButton {
  width: 60.371px;
  height: 37px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  background-color: #266ed7;
  &:disabled {
    background-color: #c2c2c2;
  }
}
