.onPostContainer{
  display: flex;
  justify-content: space-between;
  margin: 5%;
}


.Title-label, .Category-label{
  color: #171930;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 135.714% */
  opacity: 0.3991;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 3%;
}

.Title-input, .Content-input, .addImage-container{
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  color: #686A8A;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.Title-input{
  height: 50px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
  padding: 5%;
}

.Content-input{
  padding-left: 5%;
  resize: none;
  height: 600px;
  padding-bottom: 30%;
}

.addImage-container{
  display: flex;
  position: fixed;
  max-width: 550px;
  width: 100%;
  bottom: 0;
  gap: 2%;
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
  height: 52px;
  align-items: center;
}

.AddPhoto{
  margin-left: 2%;
}