.PostList {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 550px;
  width: 100%;
  height: -webkit-fill-available;
}
.postId {
  height: 57px;
  display: flex;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 90px;
  }
}
.postIcon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-right: 12px;
}

.Post-container {
  width: 100%;
}

.Titlecontainer {
  display: flex;
  justify-content: space-between;
}
.postTitle {
  width: 150px;
  color: #303030;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.448px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postContents,
.postCreatedAt {
  color: #686a8a;
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
}

.postContents {
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.336px;
  width: 211px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postCreatedAt {
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.226px;
  display: flex;
  justify-content: end;
}

.CountContainer {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 5px;
  gap: 6px;
}
