.postUser, .postCreatedAt, .postTitle, .postContent, .likeButton{
    color: #686A8A;
    font-family: Inter;
    font-style: normal;
}

.postUser{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    margin-top: 10%;
}

.postCreatedAt{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.postTitle-container{
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    padding: 4% 0 2% 4%;
   
    height: 30%;
}

.postTitle{
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3%;
}

.postCategory{
    color: #266ED7;
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.336px;
}

.postContent{
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding: 3%;
    overflow: visible;
    word-wrap: break-word;
    padding-bottom: calc(var(--vh, 1vh)*50);
}

.postUser-container{
    display: flex;
   padding: 0% 5% 3%;

}

.likeButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 20%;
    height: calc(var(--vh, 1vh)*2.5);
    flex-shrink: 0;
    border-radius: 8px;
    opacity: 0.7671;
    background: linear-gradient(131deg, #266ED7 6.68%, #4D8AEB 99.25%);
    color: #FFF;
    font-size: 9px;
    font-weight: 700;
    margin-left: 50%;
    margin-top: 2%;
}

.userIcon{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 3%;
}

.countContainer{
    display: flex;
    gap: 4%;
    color: #686A8A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 135.714% */
    padding-left: 3%;
    padding-bottom: 5%;
}

.likeIcon, .reviewIcon{
    display: flex;
    align-items: stretch;
}
.postImage-container{
    display: flex;
    gap: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
}

.postImage{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    
}