.AddInfo_Container,
.AddInfo_Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;

    gap: 15px;
}

// 이미지 등록
.AddInfo_TopText {
    margin-left : 20px;
    margin-top : 47px;

    font-size: 27px;
    font-family: 'Inter';
    font-weight: 700;
}

.AddInfo_ImageWraaper {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top : 47px;
}

.AddInfo_Image {
    width: 150px;
    height: 150px;
    border-radius: 45px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10);
    border: none;
}

.AddInfo_ImageBtn {
    display: flex;
    flex-direction: column;
    width: 89px;
    height: auto;
    min-height: 36px;
    border-radius: 8px;
    opacity: 0.7671;
    background: linear-gradient(#266ED7, #4D8AEB);

    text-align: center;

    // 프로필 등록
    color: white;
    font-size: 12px;
    font-family: Inter;
    font-weight: 700;
    line-height: 19px;
    word-wrap: break-word;

    margin-top : 15px;
}

.AddInfo_ImageBtn_Text {
    margin-top : 9px;
}

.AddInfo_LoginInput_Wrapper {
    display: flex;
    flex-direction: column;

    width: 349px;
    margin: 0 auto;
}

.AddInfo_LoginInput_Text {
    color : darkgray;
    margin-left: 8px;
}

.AddInfo_LoginInput_InputBox {
    display: flex;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 8px;

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.addInfo_SubmitButton {
    display: flex;

    width: 349px;
    height: 52px;

    margin: 45px auto 80px auto;

    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: none;
    opacity: 0.7671;
    background: linear-gradient(#266ED7, #4D8AEB);

    color: white;
    font-size: 12px;
    font-family: Inter;
    line-height: 19px;
}