.AddInterest_Container,
.AddInterest_Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-width: 450px;
}

.AddInterest_TopText {
    margin-left: 20px;
    margin-top: 13px;

    font-size: 27px;
    font-family: 'Inter';
    font-weight: 700;
}

.AddInterest_BackButton {
    margin-top : 13px;
    margin-left: 20px;
    width: 34px;
    height: 34px;
}

.AddInterest_InterestList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    max-width: 450px;

    gap: 12px;
    align-items: center;
    justify-content: center;
    
    margin-top: 22px;
    margin-bottom: auto;
}

.AddInterest_Interest_Box {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.AddInterest_InterestImage_Wrapper {
    display: flex;

    width: 113px;
    height: 93px;

    border: none;
    background: #F6F5FF;
    border-radius: 8px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

    align-items: center;
    justify-content: center;
}

.AddInterest_InterestImage {
    width: 51px;
    height: 51px;
}

.AddInterest_Interest_Text {
    margin-top : 4px;
    color: #303030;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.39px;
    word-wrap: break-word
}

.AddInterest_SubmitButton {
    display: flex;

    width: 349px;
    height: 52px;

    margin: auto;

    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: none;
    opacity: 0.7671;
    background: linear-gradient(#266ED7, #4D8AEB);

    color: white;
    font-size: 12px;
    font-family: Inter;
    line-height: 19px;
}

.AddInterest_DisableButton {
    display: flex;

    width: 349px;
    height: 52px;

    margin: auto;

    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: none;
    opacity: 0.7671;
    background: gray;

    color: black;
    font-size: 12px;
    font-family: Inter;
    line-height: 19px;
}