.Footer_Container,
.Footer_Wrapper,
.Footer_Icon_Wrapper {
    width: 100%;
    height: 74px;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;

    background-color: #FFF;
}