.mainPost_Container {
  display: flex;
  overflow: scroll;
  max-width: 800px;
  height: 185px;
  gap: 18px;
  background: #fff;
  background-color: #fff;
  margin-left: 16px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  scroll-snap-type: x proximity;
}

.mainPost_Container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.mainPostItem_Container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  max-width: 150px;
  height: 180px;
  border-radius: 15px;
  gap: 5px;
  scroll-snap-align: center; /* 스크롤 위치 맞춤 */
}

.mainPostImage_Container {
  width: 150px;
  height: 108px;
  flex-shrink: 0;
  border-radius: 15px;
}

.mainPostTitle_Container {
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.mainPostTag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: fit-content;
  min-width: 40px;
  padding: 0 2px;
  height: 22px;
  flex-shrink: 0;
  background: #efecfe;
  color: #686a8a;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.mainPost_none {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  color: #171930;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 158.333% */
  text-decoration-line: underline;
  opacity: 0.3991;
}
