.recommendHeader_Container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.recommendChat_Container {
  display: flex;
  overflow-x: scroll;
  max-width: 800px;
  gap: 20px;
  width: 100%;
  background: #fafafa;
  height: 112px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  scroll-snap-type: x mandatory;
}

.recommendChat_Container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.recommendItem_Container {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin-left: 16px;
  border-radius: 15px;
  flex-shrink: 0;
  background: #fff;
  gap: 5px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
}

.recommendTitle_Container {
  color: #0a0c0b;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  margin-left: 3%;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.chatIcon_Box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 31px;
  flex-shrink: 0;
  background: #f4f3fd;
  opacity: 0.87;
  margin-left: 3%;
  margin-top: 10px;
  border-radius: 45px;
}

.popularPost_Container {
  display: flex;
  height: 250px;
  overflow: scroll;
  max-width: 800px;
  gap: 20px;
  background: #fafafa;
  padding: 5%;
}

.carousel_pagination {
  position: absolute;
  display: flex;
  gap: 6px;
  left: 7%;
  bottom: 15%;
}

.carousel_circle {
  width: 7px;
  height: 7px;
  background-color: #93bbf6;
  border-radius: 50%;
}

.carousel_circle.active {
  background-color: #2176ff;
}
