.PostList_Container {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    max-width: 450px;
    margin-top : 50px;

    height: calc(100vh - 124px);
    font-family: Inter;
}

.PostList_Container::-webkit-scrollbar {
    display: none;
}

.PostList_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 41px;

    align-items: center;

    width: 100%;
    max-width: 450px;
    overflow-y: scroll;
}

.PostList_Wrapper::-webkit-scrollbar {
    display: none;
}

.PostList_Post_Wrapper {
    display: flex;
    flex-direction: row;

    width: 359px;
    border-radius: 8px
}

.PostList_Post_Wrapper:active {
    background-color: lightgray;
}

.PostList_Post_Image_Box {
    width: 56px;
    height: 56px;
}

.PostList_Post_Image {
    width: 56px;
    height: 56px;
    border-radius: 19px
}

.PostList_Post_Content_Box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.PostList_Post_Content_First {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.PostList_Post_Content_Title {
    color: #303030;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.45px;

    margin-left : 9px;
    margin-right : auto;
}

.PostList_Post_Content_CreatedAt {
    color: #686A8A;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.23px;
    justify-content: left;
    margin-left : auto;
}

.PostList_Post_Content_Second {
    color: #686A8A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.34px;

    margin-top : 2px;
    margin-left: 9px;
    max-height: 32px;

    width: 221px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.PostList_Post_Count {
    display: flex;
    flex-direction: row;

    margin-left : auto;
    margin-top : 17px;

    .PostList_Post_Count_Icon {
        width: 14px;
        height: 14px;
    }

    .PostList_Post_Count_Text {
        color: #171930;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        margin-left : 7px;
        margin-right : 7px;
    }
}

.PostList_CreateButton {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2176FF;
    border-radius: 30px;
    /* 화면에 고정된 위치에 설정 */
    bottom: 46px;
    right: 18px;

    .PostList_CreateButton_Icon {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}