.bottomNavBarWrapper {
  display: flex;
  width: 100%;
  max-width: 550px;
  height: 8%;
  filter: drop-shadow(0px -4px 20px rgba(63, 76, 95, 0.12));
  background-color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0%;
}

.bottomIconBox {
  margin: 0 auto;
  color: #919191;
  justify-content: center;
  align-items: center;
}
