.header_Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 550px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header_Logo {
  margin-left: 23px;
  margin-right: auto;
}

.header_Icon_List {
  display: flex;
  margin-left: auto;
  margin-right: 23px;
  gap: 8px;
}

.header_Icon {
}
