.searchWrapper {
  display: flex;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  justify-content: space-between;
}

.gobackButton {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}

.searchInput {
  display: flex;
  width: 65%;
  height: 37px;
  flex-shrink: 0;
  background: #f4f4f4;
  border: none;
  border-radius: 30px;
  justify-content: flex-start;
  padding-left: 3%;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.371px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.7671;
  color: white;
  background: linear-gradient(131deg, #266ed7 6.68%, #4d8aeb 99.25%);
  margin-left: 3%;
}
