.searchBar_Wrapper {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.gobackButton {
  height: 34px;
  flex-shrink: 0;
}

.searchInput {
  display: flex;
  width: 60%;
  height: 37px;
  flex-shrink: 0;
  background: #f4f4f4;
  border: none;
  border-radius: 30px;
  justify-content: flex-start;
  padding-left: 10px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.371px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 8px;
  color: white;
  background: linear-gradient(131deg, #266ed7 6.68%, #4d8aeb 99.25%);
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}
