.textContainer{
    margin-top: calc(var(--vh, 1vh)*84);
    box-sizing: border-box;
    width: 450px;
    height: calc(var(--vh, 1vh)*9);
    display: flex;
    position: fixed;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px -4px 20px rgba(63, 76, 95, 0.12);
    padding: 4%;
    gap: 3%;
}

.comment-input{
    width: 273px;
    height: 37px;
    flex-shrink: 0;
    background-color: #F4F4F4;
    outline: none;
    &:empty{
        &:before, 
        &:focus:before{
            content:attr(placeholder);
            color:gray;
        }
    }
    display: flex;
    padding-left: 3%;
    align-items : center;
    
}

.check{
    width: 59px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 8px;
    opacity: 0.7671;
    background: linear-gradient(131deg, #266ED7 6.68%, #4D8AEB 99.25%);
    color: white;
    display: flex;
    justify-content : center;
    align-items : center;
}