.removeQuestion, .removeInfo{
    color: #686A8A;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    margin-left:5%;
}
.removeQuestion{
    width:105%;
    height: 5%;
    margin-bottom: 10%;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
}
.removeInfo{
    font-size: 15px;
    font-weight: 400;
}

.cancle, .remove{
    width: 110px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #266ED7;
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.remove{
    background: #FF2121;
}


