.modal {
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
}

.minimodal-content, .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 23px; 
}

.modal-content{
    height: 250px;
    // height: calc(var(--vh, 1vh)*35);
}

.minimodal-content{
height: 130px;
    // height: calc(var(--vh, 1vh)*20);
}