.headWrapper {
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  background: #fff;
  flex-direction: column;
  padding: 5%;
  width: 100%;
}

.styledText {
  color: #171930;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  padding: 3%;
}

.interestContainer {
  width: 100%;
  height: calc(var(--vh, 1vh) * 60);
  flex-shrink: 0;
}

.interestBox {
  width: 30%;
  height: 13%;
  margin: auto;
  display: flex;
  padding-top: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f5ff;
  margin-bottom: 5%;
  border-radius: 12%;
}

.interestTitle {
  color: #303030;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.392px;
}

.startButton {
  width: 90%;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.7671;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(131deg, #266ed7 6.68%, #4d8aeb 99.25%);
}

.gobackButton {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  margin: 3%;
}
