.interest_headWrapper {
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  background: #fff;
  flex-direction: column;
  margin: auto;
  width: 100%;
  align-items: center;
}

.title_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.styledText {
  color: #171930;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  padding: 3%;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.interestContainer {
  width: 100%;
  height: calc(var(--vh, 1vh) * 60);
  flex-shrink: 0;
}

.interestBox {
  width: auto;
  height: calc(var(--vh, 1vh) * 10);
  margin: 5px;
  display: flex;
  padding-top: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f5ff;
  margin-bottom: 5%;
  border-radius: 12%;
}

.interestTitle {
  color: #303030;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.392px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.startButton {
  display: flex;
  width: 90%;
  height: 52px;
  margin: auto;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.7671;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(131deg, #266ed7 6.68%, #4d8aeb 99.25%);
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

.gobackButton {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  margin: 3%;
}

.warningText {
  color: red;
  display: flex;
  justify-content: center;
}

.My_InterestEdit_header {
  margin: 30px 0px 30px 15px;
}
.My_InterestEdit_headerText {
  color: #171930;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin: 20px 0 0 20px;
}

.My_InterestEdit_button {
  width: 351px;
  height: 52px;
  color: white;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  opacity: 0.7671;
  background-color: #266ed7;

  &:disabled {
    background-color: gray;
  }
  margin: 60px auto;
}

.My_resetDefaultImg_Button {
  border: none;
}
